:root {
    --abu: #2a2a2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Philosopher", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


nav {
    position: fixed;
    top: -1px;
    left: 0px;
    right: 10px;
    background: #2a2a2a !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: none;
    overflow: visible;
    height: 93px;
}

nav .nav-item.active a.nav-link {
    color: #ff5300 !important;
}

nav .nav-item.dropdown.active.show {
    background: #ff5300;
}

nav .nav-item.dropdown.active.show a {
    color: white !important;
}


.dropdown-item {
    color: white;
}

nav::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Jarak pseudo-elemen dari elemen asli */
    left: 0;
    width: 100%;
    height: 10px;
    background: #ff5300; /* Warna bayangan */
    filter: blur(10px); /* Memberikan efek blur */
    z-index: -100; /* Membuat bayangan di belakang elemen asli */
}

header .contact {
    padding-right: -50px;
}

.logo img {
    margin-top: 80px;
    width: 220px;
    padding: 0px 10px;
}

header .logo {
    width: 200px;
    z-index: 1000;
}

.contact a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #fff;
    margin-left: 5rem;
}

.contact a:hover {
    color: #ff5300;
}

header .navbar a {
    font-size: 2rem;
    color: #fff;
    padding: 60px 10px;
}

header .navbar a:hover {
    color: #ff5300;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid #fff;
    display: none;
}

section {
    padding: 2rem 9%;
}

.home {
    display: flex;
    margin-top: 60px;
    align-items: center;
    background: url("/assets/img/pura.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.home content {
    max-width: 50rem;
}

.home .content h3 {
    font-family: "Philosopher";
    font-size: 80px;
    text-shadow: 2px 2px#2a2a2a;
    color: #fff;
}

.home p {
    font-family: "Philosopher";
    font-style: italic;
    font-size: 30px;
    text-shadow: 2px 2px#2a2a2a;
    color: #fff;
    line-height: 1.5;
}

.home a.btn {
    margin-top: 30px;
    text-align: center;
    width: 300px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 9rem 3.5rem;
    background: #ff5300;
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.home a.btn:hover {
    background-color: #fff;
    color: #ff5300;
}

.heading {
    text-align: left;
    font-size: 6rem;
    color: #ff5300;
    text-shadow: #2a2a2a;
    font-weight: bold;
}

.about p {
    text-align: left;
    font-size: 2rem;
    color: #2a2a2a;
    margin: 8rem;
    margin-top: 12px;
}

.moto {
    text-align: left;
    font-size: 3rem;
    color: #949494;
    font-style: italic;
    font-family: "Philosopher";
}

.titlepage {
    text-align: left;
    padding-bottom: 54px;
}

.titlepage-statistik {
    text-align: center;
    padding-bottom: 54px;
}

.titlepage-statistik h2 {
    padding: 10px 0px 20px 0px;
    font-size: 6rem;
    font-weight: bold;
    color: #faba00;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-shadow: #2a2a2a;
}


.titlepage-statistik h2::after {
    left: 100%;
    margin-left: 15px;
}

.titlepage-statistik h2::before {
    right: 100%;
    margin-right: 15px;
}

.titlepage-statistik h2::after {
     content: "";
     position: absolute;
     height: 5px;
     border-top: 5px solid #ff5300;
     top: 30px;
     width: 300px;
}

.titlepage-statistik h2::before{
    content: "";
    position: absolute;
    height: 5px;
    border-top: 5px solid #ff5300;
    top: 30px;
    width: 300px;
}



.titlepage-statistik p {
    text-align: center;
    margin-top: 10px;
}



.carousel-item .titlepage {
    text-align: center;
    padding-bottom: 54px;
}

.titlepage h2 {
    padding: 10px 0px 20px 0px;
    font-size: 45px;
    font-weight: bold;
    color: #faba00;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

.titlepage h2::after {
    left: 100%;
    margin-left: 15px;
}

.titlepage h2::before {
    right: 100%;
    margin-right: 15px;
}

.titlepage h2::after {
     content: "";
     position: absolute;
     height: 5px;
     border-top: 5px solid #ff5300;
     top: 30px;
     width: 550px;
}

.titlepage h2::before{
    content: "";
    position: absolute;
    height: 5px;
    border-top: 5px solid #ff5300;
    top: 30px;
    width: 100px;
}

.titlepage p {
    text-align: left;
    margin-top: -16px;
}

.carousel-indicators li {
    border: 1px solid #ff5300; /* Border color */
}

.d-block{
    border-radius: 5%;

}
.carousel-indicators .active {
    background-color: #ff5300; 
}
.carousel-caption h5{
    color: #fff; 
    padding: 20px; 
    font-size: 6rem;
    text-shadow: #2a2a2a;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-caption p {
    margin-top: 5px;
    font-size: 3rem;
    text-shadow: #2a2a2a;
    font-weight: 25px;
}


.statistics {
    background: #fff;
    padding: 50px 0;
}

.statistic-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 2px solid #ff5300;
    border-radius: 8px;
    padding: 30px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 200px;
}

.statistic-item {
    flex: 1;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    margin-top: 18px;
}

.statistic-item h3 {
    font-size: 40px;
    font-weight: bold;
    color: #ff5300;
    justify-content: center;
    margin-top: 30px;
}

.statistic-item p {
    font-size: 20px;
    color: #666;
}

.statistic-item i {
    font-size: 48px;
    color: #2a2a2a;
    margin-bottom: 10px;
}

.statistic-item:hover {
    transform: scale(1.05);
}

footer {
    background-color: #2a2a2a;
    padding: 50px 0;
}

.footer-brand img {
    max-width: 100%;
    height: auto;
}

.footer-nav h5 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    margin-bottom: 10px;
}

.footer-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
    color: #ff5300; /* Warna saat hover */
}



/* Adjust carousel height */


/* Media Queries */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #2a2a2a;
        border-top: 0.1rem solid #ff5300;
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: var(--abu);
        border: 0.1rem solid #fff;      
    }
}

/* .dropdown-menu.show {
    max-width: 902px;
} */
/* MOBILE - TABLET */
@media (max-width: 768px) {

    .dropdown-menu.show {
        background: #ff5300 !important;
        display: block;
        border: none;
        margin-top: -1px;
    }

    .nav-item a {
        font-size: 15px;
    }

    .right-side-nav {
        display: none;
    }

    .contact_nav {
        display: block;
    }

    #nav {
        background: #2a2a2a !important;
    }

    .collapsing {
        background: #2a2a2a !important;
    }

    nav {
        margin-right: 0;
    }

    .home a.btn {
        width: 250px;
    }
}

/* LAPTOP SMALL - 4010px */
@media (min-width: 769px) {
    .dropdown-menu.show {
        background: #ff5300 !important;
        display: flex;
        border: none;
        margin-top: -6px;
    }
    
    .nav-item a {
        font-size: 18px;
    }

    .right-side-nav {
        font-size: 18px;
    }

    .contact_nav {
        display: none;
    }
}

@media (min-width: 1300px) {
    .kotak-logo {
        width: 297px;
        position: absolute;
        background-color: #ff5300;
        margin-left: 66px;
        height: 200px;
        transition: height 0.3s, margin-top 0.3s;
    }

    .kotak-logo .white_logo {
        width: 270px;
        margin-top: 108px;
        margin-left: 10px;
        transition: margin-top 0.3s;
    }

    .white_logo {
        display: block;
    }

    .orange_logo {
        display: none;
    }

    .right-side-nav {
        margin-right: 36px;
    }

    .navbar::before {
        content: "";
        position: absolute;
        top: 0;
        right: -10px; /* Jarak pseudo-elemen dari elemen asli */
        width: 44px;
        height: 110%;
        background: #ff5300; /* Warna bayangan */
        z-index: -1; /* Membuat bayangan di belakang elemen asli */
    }
}

@media (max-width: 1299px) {
    .kotak-logo {
        height: 100px;
    }
    .kotak-logo .orange_logo {
        width: 250px;
    }

    .white_logo {
        display: none;
    }

    .orange_logo {
        display: block;
    }

    .nav::before {
        width: 18px;
    }
}

@media (min-width: 768px) {
}
@media (min-width: 768px) and (max-width: 1299px) {
    /* .kotak-logo {
        width: 297px;
        position: absolute;
        background-color: #ff5300;
        margin-left: 66px;
        height: 200px;
    } */
}

