
/* Tour & Travel css */

.slider{
    height: 100vh;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
    color: #fff;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 20%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 200px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}

.benefit-card {
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background: #fff;
    margin-bottom: 20px;
}

.benefit-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.benefit-card__icon {
    font-size: 3.5em;
    color: #3498db;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.benefit-card:hover .benefit-card__icon {
    color: #2980b9;
}

.benefit-card__title {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2c3e50;
}

.benefit-card__description {
    font-size: 1.1em;
    color: #7f8c8d;
}




.personalized-trips {
    margin-top: 100px; 
    padding-top: 50px; 
}

.personalized-trips .titlepage {
    text-align: center;
}

.personalized-trips .titlepage h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.personalized-trips .titlepage p{
    font-size: 20px;
    
}

.headline-section {
    position: relative;
    text-align: center;
    color: white;
}

.headline-section .headline-img {
    width: 100%;
    height: 70vh;
    position: relative;
    z-index: 1;
}

.headline-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 2;
}

.headline-section .headline-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.headline-content h1 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #ffffff;
}

.headline-content p {
    font-size: 15px;
    color: #ffffff;
}


/* Optional: Adjust card spacing */
.card-trip {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.card-trip .card-body {
    padding: 20px;
}

.personalized-trips {
    margin-top: 100px; 
    padding-top: 50px; 
}

.card-trip img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-trip:hover {
    transform: translateY(-5px); 
}

.card-trip .card-img-top {
    height: 65vh; 
    object-fit: cover;
}

.card-trip .card-title {
    font-size: 24px;
    font-weight: bold; 
    margin-top: 1rem;
    margin-bottom: 10px; 
}

.card-trip .card-text {
    font-size: 16px; 
    margin-bottom: 1rem; 
}

.card-trip .btn-primary {
    display: inline-block;
    margin-top: 1rem;
    border: none;
    padding: 10px 20px;
    background: #ff5300;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card-trip .btn-primary:hover {
    background-color: #ff8a80;
    border-color: #ff8a80;
}

/* CSS Event Trip */
.event-trip {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-trip .card-body {
    padding: 20px;
}

.event-trip img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.event-trip:hover {
    transform: translateY(-5px); 
}

.event-trip .card-img-top {
    height: 200px; 
    object-fit: cover;
}

.event-trip .card-title {
    font-size: 24px;
    font-weight: bold; 
    margin-top: 1rem;
    margin-bottom: 10px; 
}

.event-trip .card-text {
    font-size: 16px; 
    margin-bottom: 1rem; 
}

.event-trip .btn-primary {
    display: inline-block;
    margin-top: 1rem;
    border: none;
    padding: 10px 20px;
    background: #ff5300;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.event-trip .btn-primary:hover {
    background-color: #ff8a80;
    border-color: #ff8a80;
}

.event-trip-section {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.content-event-trip {
    text-align: center;
}

.content-event-trip h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content-event-trip p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-event-trip {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-event-trip:hover {
    background-color: #23527c;
}

.event-trip-detail {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titlepage {
    text-align: center;
    margin-bottom: 20px;
}

.titlepage h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.titlepage span {
    font-size: 18px;
    color: #666;
}

.card-event-trip {
    margin-bottom: 20px;
}

.card-event-trip img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-event-trip .card-body {
    padding: 20px;
}

.card-event-trip .card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-event-trip .card-text {
    font-size: 16px;
    color: #666;
}

/* CSS Destination */
/* Header Destination */
.header-destination {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/destination.jpg") no-repeat;
    padding: 100px 0;
    text-align: center;
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54vh;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.header-destination h1 {
    font-size: 70px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-destination p {
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Destination Section */
.destination-section {
    padding: 80px 0;
    background-color: #f9f9f9;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.section-title p {
    font-size: 18px;
    color: #666;
    text-align: center;
}

/* Destination Item */
.destination-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.destination-item:hover {
    transform: translateY(-5px);
}

.destination-item .destination-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.destination-item .destination-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.destination-item .destination-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.destination-item .destination-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.destination-item .btn-primary {
    background-color: #ff5300;
    border-color: #ff5300;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.destination-item .btn-primary:hover {
    background-color: #ff8a80;
    border-color: #ff8a80;
}

/* Contact Page Section */
.contact-page-section {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contact-page-section .inner-container {
    position: relative;
    z-index: 1;
    background-color: #ff5300;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
}
.contact-page-section .form-column {
    position: relative;
    padding: 0 0 0 15px;
}
.contact-page-section .form-column .inner-column {
    position: relative;
    padding: 60px 45px 30px;
    background-color: #fff;
}
.contact-page-section .info-column {
    position: relative;
}
.contact-page-section .info-column .inner-column {
    position: relative;
    padding: 60px 35px;
}
.contact-page-section .info-column h2 {
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 45px;
}
.contact-page-section .info-column .list-info {
    position: relative;
    margin-bottom: 60px;
}
.contact-page-section .info-column .list-info li {
    position: relative;
    margin-bottom: 25px;
    font-size: 18px;
    color: #fff;
    line-height: 1.8em;
    padding-left: 45px;
}
.contact-page-section .info-column .list-info li:last-child {
    margin-bottom: 0;
}
.contact-page-section .info-column .list-info li i {
    position: absolute;
    left: 0;
    top: 8px;
    color: #fff;
    font-size: 30px;
}
.contact-form {
    position: relative;
}
.contact-form .form-group {
    position: relative;
    margin-bottom: 20px;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    color: #222;
    font-size: 14px;
    line-height: 38px;
    padding: 10px 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
    border-color: #ff5300;
}
.contact-form textarea {
    height: 250px;
    resize: none;
}
.contact-form .theme-btn {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: capitalize;
    padding: 16px 39px;
    border: 2px solid #fff;
    background: #ff5300;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    cursor: pointer;
}
.contact-form .theme-btn:hover {
    color: #ff5300;
    border-color: #ff5300;
    background: transparent;
}
.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
    border-color: red !important;
}
.contact-form label.error {
    display: block;
    line-height: 24px;
    padding: 5px 0 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: red;
    font-weight: 500;
}
.social-icon-four {
    position: relative;
}
.social-icon-four li {
    position: relative;
    margin-right: 18px;
    display: inline-block;
}
.social-icon-four li.follow {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    display: block;
    margin-bottom: 20px;
}
.social-icon-four li a {
    position: relative;
    font-size: 20px;
    color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.social-icon-four li a:hover {
    color: #222;
}

/* Section Title */
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
    padding-top: 20px;
    position: relative;
    color: #faba00;
    font-size: 30px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: capitalize;
}
.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbb;
}
.sec-title h2 {
    position: relative;
    color: #ff5300;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5em;
    display: block;
}
.sec-title.light h2 {
    color: #fff;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .destination-item {
        width: 100%;
        position: relative;
    }

    .destination-item .destination-title {
        font-size: 22px;
    }

    .destination-item .destination-description {
        font-size: 15px;
    }

    .header-destination h1 {
        font-size: 32px;
    }

    .header-destination p {
        font-size: 16px;
    }

}




/* Small devices (phones, 767px and down) */
@media (max-width: 767px) {
    .destination-item {
        width: 100%;
    }

    .destination-item .destination-info {
        padding: 15px;
    }

    .destination-item .destination-title {
        font-size: 20px;
    }

    .destination-item .destination-description {
        font-size: 14px;
    }

    .destination-item .btn-primary {
        padding: 8px 16px;
        font-size: 14px;
    }

    .header-destination h1 {
        font-size: 28px;
    }

    .header-destination p {
        font-size: 14px;
    }

   
}